.Dashboard {
  @include flex(flex);
  max-width: 96%;
  margin: 0 auto;
  &__navPanel {
    width: 20%;
    margin-right: 5rem;
  }
  &__MainSection {
    width: 75%;
  }
  &__ItemsWrapper {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
