:root {
    /*BG Colors*/
    --BgWhite: #FFFFFF;

    /*Text Colors*/

    --ColorBlack: #303030;
    --ColorWhite: #FFF;
    --ColorGray: #8F9499;

    /*Button Colors*/
    
    --BgBtnWhite: #FFFFFF;
    --BgCard: #202020;

    /*Content Space*/
    --HeaderH: 6rem;
    --ContentWidth: 135rem;

    /*Modal styles*/

    --BackdropColor: rgba(0, 0, 0, 0.3);
}